* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.search {
    display: contents;
}
.float-right {
    float: right;
}
h2 {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline;
}

h1 {
    color: white;
}
p {
    margin-top: 1rem;
    color: white;
    text-align: justify;
}
.about-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-box > div {
    max-width: 600px;
}

.fixed-table-toolbar > .bs-bars {
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(45, 124, 231); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(54, 175, 236); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 175, 236); 
}